body{
    width: 80%;
    margin: 0 auto;
    min-height: 80vh;
    text-align: center;
    font-family: 'Quando', serif;
    font-size: 18px;
}

.home{
    width: 250px;
    height: 250px;
    border-radius: 150px;
    
}
header{
    margin-top: 30px;
}

.logo{
    width: 50px;
    height: 50px;
}

ul{
    display: inline-block;
    float:inline-start;
}
ul li{
    display: flex;
    margin: 10px;
}
.botones{
    border: 1px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    background-color: bisque;
    justify-content: center;
    box-shadow: -2px 2px 0px;
}
.botones:hover{
    background-color: yellow;
    border: 1px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    font-size: large;
    box-shadow: -3px 3px 5px;
}
ul a{
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    color: black;
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
}


footer{
    padding: 30px;
}
